.svg-logo {
    height: 40px;

    path.st0 { fill: darken($primary-color, 30); }
    path.st1 { fill: darken($primary-color, 15); }
    path.st2 { fill: darken($primary-color, 0); }
}

.logo:hover { text-decoration: none; }

@keyframes rainbow {
    @for $i from 0 to 9 {
        #{$i * 10%} {
            fill: adjust-hue($primary-color, ($i * 36deg));
        }
    }
    100% {
        fill: adjust-hue($primary-color, -360deg);
    }
}