@import 'partials/all';

html { height: 100%; }

body {
    height:100%;
    width:100%;
    background-color: $quinary-color;
}

.bg-dark-primary { background-color: change-color(darken($primary-color, 40), $saturation: 10) !important; }