// Typography
body,
p,
li,
table,
dl,
input,
textarea,
select,
button {
    font-family: $font-family;
    font-weight: $fw-reg;
    line-height: 1.5;
    margin: 0;
    color: $font-color;
}

a {
    &:hover { color: initial; }
}

%heading-global {
    font-family: $font-family;
    font-weight: $fw-sbold;
    line-height: 1;
    margin: 0;
    color: $heading-color;

    @include small { font-weight: $fw-reg; }
    @include medium { font-weight: $fw-xlight; }
}

@for $i from 1 through 6 {
    h#{$i}, .h#{$i} {
        @extend %heading-global;
    }
}

$fluid-typography-map: (
    h1: (32, 100),  //32, 60
    h2: (28, 80),   //28, 48
    h3: (24, 60),   //24, 38
    h4: (20, 44),   //20, 30
    h5: (18, 32),   //18, 24
    h6: (16, 24),   //16, 20
    p: (14, 18)     //14, 16
);

@each $type, $sizes in $fluid-typography-map {
    $min: nth($sizes, 1) * 1px;
    $max: nth($sizes, 2) * 1px;

    #{$type}, .#{$type} { @include fluid-type($min, $max, $sm-screen, $xl-screen); }
}