$color-map: (
    primary:    #55EEAA,
    secondary:  #407899,
    tertiary:   #791E94,
    quaternary: #DE6449,
    quinary:    #FFFFF2,
    font:       #222222,
    heading:    #55EEAA
);

$primary-color:    map-get($color-map, 'primary');
$secondary-color:  map-get($color-map, 'secondary');
$tertiary-color:   map-get($color-map, 'tertiary');
$quaternary-color: map-get($color-map, 'quaternary');
$quinary-color:    map-get($color-map, 'quinary');
$font-color:       map-get($color-map, 'font');
$heading-color:    map-get($color-map, 'heading');


$font-family: 'Muli', sans-serif;

$fw-thin:   100;
$fw-xlight: 200;
$fw-light:  300;
$fw-reg:    400;
$fw-med:    500;
$fw-sbold:  600;
$fw-bold:   700;
$fw-xbold:  800;
$fw-black:  900;

// Breakpoints
$sm-screen: 500px;
$md-screen: 768px;
$lg-screen: 1024px;
$xl-screen: 1200px;